<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">Projects</li>
</ol>

<div class="container page-title">
  <div class="row">
    <div class="col-xs-9"><h2><i class="fa fa-share-alt"></i> Projects</h2></div> 
    <div class="col-xs-3">
      <a class="btn btn-primary btn-xs pull-right app-btn app-btn-add" href title="Create a new Project">
        <span class="fa-stack fa-lg">            
            <i class="fa fa-plus fa-stack-1x"></i>
        </span>Create a new Project
      </a>
    </div>
  </div>
</div>

<div class="breadcrumb">
  <form class="form-inline">
    <input type="text" name="keyword" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Look for..." [(ngModel)]="keyword">
    <a class="btn btn-primary btn-xs app-btn" href title="Search" (click)="filter()">
      <span class="fa-stack fa-lg">            
          <i class="fa fa-search fa-stack-1x"></i>
      </span>Search
    </a>
    <a class="btn btn-danger btn-xs app-btn" href title="Reset" (click)="reset()">
        <span class="fa-stack fa-lg">            
            <i class="fa fa-times fa-stack-1x"></i>
        </span>Reset
      </a>
  </form>    
</div>

<!-- Pager -->  
<div class="container">
  <div class="col-sm-6" *ngIf="totalItems > 0" class="pull-left">
    <form class="form-inline">
      <div class="row">
        <label for="showBy">Display by</label>
        <!-- (change)="changeDisplayCount($event.target.value)" -->
        <select class="input-sm margin-left-10px" name="showBy" id="showBy" name="showBy" (change)="changeDisplayCount()" [(ngModel)] = "itemsPerPage">
          <option *ngFor="let i of showBy" [ngValue]="i">{{ i }}</option>
        </select>
        <span class="margin-left-20px">Showing {{ start | number }} to {{ end | number }} of {{ totalItems | number }} entries</span>
      </div>
    </form>
  </div>
  <div class="col-sm-6" *ngIf="totalItems > 0" class="pull-right margin-right-10px">
    <pagination-controls 
      (pageChange)="pageChanged($event)" 
      directionLinks="true"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
      class="">
    </pagination-controls> 
  </div>
</div>  

<div class="padding-top-20px">
  <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', backdropBackgroundColour: 'rgba(255,255,255,0.5)' }"></ngx-loading> -->
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th class="app-tbl-selector" width="3%"><input type="checkbox"/></th>  
        <th width="5%">ID</th>
        <th width="20%">Name</th>
        <th>Description</th>
        <th width="15%">Date Added</th>
        <th width="8%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="totalItems == 0">
        <td colspan="6"><span>No records found.</span></td>
      </tr>     
      <tr *ngFor="let project of projects | paginate: { itemsPerPage: itemsPerPage, 
                                                        currentPage: currentPage, 
                                                        totalItems: totalItems }">
        <td class="app-tbl-selector"><input type="checkbox"/></td>
        <td>{{ project.id }}</td>
        <td><a href >{{ project.name }}</a></td>
        <td>{{ project.description }}</td>
        <td>{{ project.dateAdded | date }}</td>
        <td>
          <button class="btn btn-xs btn-primary" title="Edit" (click)="edit()"><i class="fa fa-pencil fa-fw"></i></button>
          <button class="btn btn-xs btn-danger" title="Delete" (click)="delete()"><i class="fa fa-times fa-fw"></i></button>        
        </td>
      </tr>
    </tbody>
  </table>  
</div>

<!-- Pager -->  
<div class="container">
  <div class="col-sm-6" *ngIf="totalItems > 0" class="pull-left">
    <form class="form-inline">
      <div class="row">
        <label for="showBy">Display by</label>
        <!-- (change)="changeDisplayCount($event.target.value)" -->
        <select class="input-sm margin-left-10px" name="showBy" id="showBy" name="showBy" (change)="changeDisplayCount()" [(ngModel)] = "itemsPerPage">
          <option *ngFor="let i of showBy" [ngValue]="i">{{ i }}</option>
        </select>
        <span class="margin-left-20px" *ngIf="totalItems > 1">Showing {{ start | number }} to {{ end | number }} of {{ totalItems | number }} entries </span>
        <span class="margin-left-20px" *ngIf="totalItems == 1">Showing {{ start | number }} to {{ end | number }} of {{ totalItems | number }} entry </span>
      </div>
    </form>
  </div>
  <div class="col-sm-6" *ngIf="totalItems > 0" class="pull-right margin-right-10px">
    <pagination-controls 
      (pageChange)="pageChanged($event)" 
      directionLinks="true"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
      class="xpagination">
    </pagination-controls> 
  </div>
</div>  
